/* Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #36474d;
    padding: 0px;
}

a {
    font-size: 16px;
    color: #fca53a;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

    a:hover, a:focus {
        font-size: 16px;
        color: crimson;
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #36474d;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 10px rgba(0 0 0 / 0.6);
}

    .menu a:link, a:visited {
        font-family: 'Arial', sans-serif;
        font-size: 20px;
        color: white;
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
       
        .menu a:hover, a:focus {
            font-family: 'Arial', sans-serif;
            font-size: 20px;
            color: #678689;
            text-decoration: none;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

.menu p {
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        color: springgreen;
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1, h2 {
    font-weight: bold;
    color: #2c3e50;
}

p {
    color: white;
}

ul {
    color: snow;
    list-style-type: circle;
    font-size: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0px;
}

li {
    color: snow;
    list-style-type: circle;
    font-size: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0px;
    margin-bottom: 0px;
}

/* Frames layout */
.head {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.view {
    position: absolute;
    top: 135px;
    left: 0px;
    width: 100%;
    height: calc(100% - 135px);
}

/* Code section Settings */
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 80%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
/* Marquee Settings */
.marquee {
    width: 100%;
    line-height: 50px;
    background-color: #678689;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

    .marquee p {
        font-size: 25px;
        font-weight: bold;
        color: #2c3e50;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        display: inline-block;
        padding-left: 100%;
        animation: marquee 12s linear infinite;
    }

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}
/* Divider Settings */
.divider {
    height: 2px;
    background: linear-gradient(to right,#678689, darkslategray, black, darkslategray, #678689);
}

/* Header Styling */
header {
    background: linear-gradient(to right, #678689,darkslategray, black, darkslategray, #678689);
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
    background-position: left top;
    background-size: cover;
    box-shadow: 2px 3px 10px rgba(0 0 0 / 0.6);
}

    header h1 {
        font-size: 34px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    header p {
        font-size: 18px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

@keyframes header {
    0% {
        transform: translate(0, -120%);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Section Styling */
section {
    background-color: #678689;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

@keyframes section {
    0% {
        transform: translate(-120%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

#services .service {
    position: relative;
    background-color: white;
    border: 0px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    width: calc(100% - 40px);
    height: 240px;
    box-shadow: 2px 3px 10px rgba(0 0 0 / 0.6);
}

    #services .service:hover, #services .service:focus {
        animation: service 0.2s linear 1;
    }

    #services .service h3 {
        position: absolute;
        top: 10px;
        left: 15px;
        color: white;
        font-size: 22px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    #services .service p {
        position: absolute;
        top: 75px;
        left: 20px;
        color: snow;
        font-size: 15px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

    #services .service img {
        border: 1px solid #ddd;
        border-radius: 8px;
        width: auto;
        height: auto;
        object-fit: fill;
    }

@keyframes service {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(5%, 5%)
    }
    100% {
        transform: translate(0, 0);
    }
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea, input[type="file"] {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #295f98;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

    input[type="submit"]:hover {
        background-color: #e74c3c;
    }

/* Footer Styling */
footer {
    text-align: center;
    color: #aaa;
    font-size: 15px;
}
