/* Basic styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  color: #fff;
}

h1 {
  font-size: 3em;
  text-align: center;
  background-color: #3e8eb8;
  padding: 20px;
  color: #fff;
}

nav a {
  display: inline-block;
  margin: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #3e8eb8;
  padding: 10px 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

.services .service {
  margin-bottom: 30px;
}

.services .service h4 {
  font-size: 2em;
  margin: 0;
}

footer p {
  text-align: center;
  margin: 30px 0;
}

footer a {
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  background-color: #3e8eb8;
  padding: 10px 20px;
}